.pace .pace-progress
  background: #29d
  position: fixed
  z-index: 2000
  top: 0
  left: 0
  height: 4px

  -webkit-transition: width 1s
  -moz-transition: width 1s
  -o-transition: width 1s
  transition: width 1s

#flash-message
  position: fixed
  width: 100%
  z-index: 50
  padding-right: 30px

.pace-inactive
  display: none

.panel-body .row
  padding-left: 0
  margin-left: 0

.modal-dialog.large
  width: 80%

tr.green td, td.green
  background-color: #dff0d8 !important

.userPhoto, .cartItemPhoto
  width: 80px
  height: 80px
  text-align: center
  overflow: hidden
  background-size: 100% !important
  background-repeat: no-repeat !important
  background-position: 0 !important

.userPhoto
  border-radius: 10%
  margin: 0px auto
  cursor: pointer
  box-shadow: 0 0 10px rgba(0,0,0,0.2)

.row > div > h5, .row > div > h4
  text-align: center
  font-weight: bold
  padding: 0 0 20px
  cursor: pointer

i.glyphicon, span.glyphicon
  display: inline-block
  cursor: pointer
  width: 10px
  height: 10px

div.letter
  font-size: 4em
  display: inline-block
  color: #FFF
  width: 7.1%
  text-align: center
  margin-top: 5px
  border: 1px dotted #aaa
  border-radius: 10%


div.letter.active
  color: #000
  cursor: pointer

.pill
  color: #fff
  background-color: #428bca
  border-radius: 4px
  padding: 3px
  margin-bottom: 3px
  display: inline-block


#offlineBox .modal-header
  color: #d9534f


.cartItemPhoto
  width: 60px
  height: 60px
  display: inline-block
  vertical-align: top

.price
  text-align: center
  padding-top: 15px

#organizationUnitSelect a
  cursor: pointer

#filter
  margin: 15px 10% 30px 10%
  max-width: 100%

#filter.input-group-addon
  background-color: #fff
  border: none

#filter input
  height: 50px

a
  font-size: 20px

.cart .panel-heading
  position: relative

.cart .panel-heading a
  right: 20px
  top: 5px
  position: absolute

td.sum
  white-space: nowrap

.userSmallPhoto
  vertical-align: middle

.cart button
  border: none
  width: 100%
  height: 50px

.itemCount
  display: inline-block
  font-size: 3em
  vertical-align: top

.btn-big
  height: 70px

.btn-big-last
  height: 70px

#usersList .row
  margin-right: 0px

body
  padding-top: 20px

.topBar
  width: 100%
  font-size: 1.2em
  border-bottom: 1px solid #ddd
  /*background-color: #DBF1FF #F9FFDB*/
  text-align: center
  position: fixed
  top: 0
  left: 0
  -webkit-box-shadow: 0 0 0.1px 0.1px
  box-shadow: 0 0 0.1px 0.1px
  z-index: 50

.yearOverviewHeader tr th a
  font-size: 14px

.yearOverviewTable tbody tr td:nth-child(2),
.yearOverviewTable tbody tr td:nth-child(4),
.yearOverviewTable tbody tr td:nth-child(6),
.yearOverviewTable tbody tr td:nth-child(8),
.yearOverviewTable tbody tr td:nth-child(10),
.yearOverviewTable tbody tr td:nth-child(12),
.yearOverviewTable thead tr th:nth-child(2),
.yearOverviewTable thead tr th:nth-child(4),
.yearOverviewTable thead tr th:nth-child(6),
.yearOverviewTable thead tr th:nth-child(8),
.yearOverviewTable thead tr th:nth-child(10),
.yearOverviewTable thead tr th:nth-child(12)

  background-color: #eee

.yearOverviewHeader tr.sum th
  text-align: center
  white-space: nowrap

.yearOverviewHeader tr.sum th strong
  display: block

.favourites .favourite-item
  float: left
  display: inline-block
  margin-left: 45px

#usersList .col-xs-2
  text-align: center
  margin-top: 10px
  display: inline-block
  float: none

.tab-content
  padding-top: 30px

.tab-content .col-xs-2
  text-align: center
  display: inline-block
  float: left
  height: 190px

table.monthOverview span.pill
  padding: 5px

table.monthOverview span.pill i.glyphicon-remove
  display: inline-block
  margin: 0 5px
  height: 100%
