<ol class="breadcrumb">
  <li>{{#link-to 'users'}}Home{{/link-to}}</li>
  <li>{{#link-to 'adminOverview'}}Overview{{/link-to}}</li>
  <li>{{#link-to 'adminUsers'}}Users{{/link-to}}</li>
  <li>{{#link-to 'adminProducts'}}Products{{/link-to}}</li>
  <li>{{#link-to 'adminCategories'}}Categories{{/link-to}}</li>
</ol>
{{yield}}