<h1>
  {{App.currentUser.name}}'s report {{view.controller.month}} {{view.controller.year}}
  {{#link-to 'order.yearOverview' App.currentUser.id view.controller.year class="btn btn-danger btn-lg pull-right"}}Back{{/link-to}}
</h1>
<table class="table table-striped  table-hover table-bordered">
  <tbody>
    {{#group}}
      {{#each dayNumber in dayNumbers}}
        {{view App.RowOrderMonthOverviewView contentBinding="dayNumber"}}
      {{/each}}
    {{/group}}
  </tbody>
</table>