<div class="col-xs-9">
  <ul class="nav nav-tabs">
    {{#each App.store.categories}}
      <li><a {{action 'filter' this target='view'}} data-category-id="{{unbound id}}" data-toggle="tab">{{unbound name}}</a></li>
    {{/each}}
  </ul>

  <div class="tab-content">
    <br/ >
    {{#each products in view.chunkedProducts}}
      <div class="row">
        {{#each products}}
          {{view App.ProductView contentBinding="this"}}
        {{/each}}
      <br/>
      </div>
    {{/each}}
  </div>
</div>